{% extends "base.html" %}

{% load static %}

{% block js %}

<script rel="javascript" src="{% static 'js/leaflet.awesome-markers.js'%}"></script>
{%endblock%}


{%block css%}
<link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css'%}">
{% endblock%}

{%block title%}Müll melden{%endblock%}

{% block content %}

<h1 class="text-center display-3 my-3">Müll melden</h1>

<div class="container">
  <div id="mappid" style="height:50vh"> 
  </div>

  <div class="text-center">
    <div class="row">
      <div class="col-6">
        <button id="findme" class="btn btn-primary mt-3 col-12"><i class="bi bi-geo"></i> Orte mich!</button>
        <p id="address-text" class=" d-none"> Du bist hier<br><span id="address">&nbsp;</span></p>
      </div>
      <div class="col-6">
        <form method="POST">
          {% csrf_token %}
          <button formaction="neuer_eintrag" class="btn btn-success mt-3 col-12"><i class="bi bi-trash"></i> Müll
            melden!</button>
          <input type="hidden" name="lat" value="51.3396955"><br>
          <input type="hidden" name="lon" value="12.3730747"><br>
        </form>

      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="{% static 'js/muellscript.js'%}"></script>

{% endblock %}