{% extends "base.html" %}

{%block title%} MAPPS Leipzig {%endblock%}

{% block content %}

<div class=" container text-center">
  <div class="row">
    <h1 class=" display-4 mt-5">MAPPS Leipzig</h1>
    <h1 class="display-5">Ein Projekt. Ein Ziel.</h1>
    <h1 class="display-5 mb-5">Unsere Stadt.</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>So sieht es aus.</h4>
      <p>In vielen Nachbarschaften sammelt sich Sperrmüll, anderer Abfall findet sich an Gehwegrändern und Gebüschen,
        Hundekot liegt auf allen Wegen, Straßen sind kaum befahrbar. Verschenkekisten lösen sich im nächsten Regen auf
        und Bücher landen eher im Müll, als in neue Hände zu wandern.
        Dieses Bild kennen wir alle und für viele dieser Herausforderungen gibt es einfache Lösungen.
      </p>
    </div>

    <div class="col-md-6">
      <h4>Die Herausforderung.</h4>
      <p>Leipzig ist in seiner Verwaltung an vielen Stellen bereits fortschrittlich, aber es fehlt noch an gezielten
        Datenerhebungen, um effektiv an Lösungen arbeiten zu können. Dabei ist es heute so einfach wie noch nie, solche
        Vorhabungen umzusetzen.</p>
    </div>

    <div class="col-md-6">
      <h4>Welche Lösungen wollen wir anbieten?</h4>
      <p>Durch gemeinsames Kartografieren wollen wir mit euch Hotspots für bspw. Spermmülllager und akute
        Dreckecken herausfinden, um zusammen mit anderen Projekten und Institutionen Lösungen zu entwickeln. Das könnte
        sich in Form von gezielten CleanUps als auch durch das Aufstellen von mehr Mülleimern und Doggy-Stations.</p>
    </div>
    <div class="col-md-6">
      <h4>Unser Ziel.</h4>
      <p>Natürlich ist ein schöneres Stadtbild ein Ziel, jedoch wollen wir in erster Linie mehr Achtsamkeit schaffen -
        und das ohne erhobenen Zeigefinger. Wir wollen Präsenz zeigen und helfen uns selbst zu helfen.</p>
    </div>
  </div>

  <!-- <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h4>Fragen oder Anregungen?</h4>
      <h4>Kontaktier uns gern!</h4>

      <form action="POST">
        <div class="form-group">
          <input class="form-control mb-2" type="text" placeholder="Dein Name">
          <input class="form-control mb-2" type="email" placeholder="Deine Email">
          <textarea class="form-control mb-2" type="text" placeholder="Dein Anliegen"></textarea>
          <button class="btn btn-success mb-5" type="submit" formaction="">Absenden</button>
        </div>
      </form>
    </div>

  </div> -->


</div>

{% endblock %}